@model HappinessSurvey.DAL.departmenttbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainView.cshtml";
}

<h2>Details</h2>

<div>
    <h4>departmenttbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dep_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dep_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
